/* Mobile devices Layout: 320px to 480px Start*/

@media (min-width: 320px) and (max-width: 480px) {
  header {
    height: 100vh;
    width: 100vw;
  }
  .navbar {
    display: none;
  }
  .btn {
    margin-top: 2rem;
    font-size: medium;
    font-size: 14px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
  .btn img {
    width: 2rem;
  }
  .intro {
    flex-direction: column;
    margin-top: 0;
    width: 100vw;
  }
  .intro-info {
    width: 100vw;
    padding-left: 1rem;
  }

  .intro-info h2 {
    font-size: 34px;
    color: #fff;
  }
  .intro-banner img {
    margin-top: 3rem;
    margin-left: 1rem;
    width: 90vw;
    height: 50vh;
  }

  /* player section start */

  .players {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    width: 100vw;
    margin: 0 auto;
  }

  /* player section end */

  /* High light Start */
  .high-light {
    flex-direction: column;
    justify-content: center;
  }
  .high-light-info {
    width: 90vw;
  }
  .high-light-info h2 {
    font-size: 2rem;
  }
  .high-light-btn {
    font-size: 14px;
    padding: 0.1rem 1rem;
    margin-bottom: 2rem;
  }
  .high-light-btn img {
    width: 2rem;
  }
  .high-light-banner img {
    width: 90vw;
    height: 50vh;
  }
  /* High light End */

  /* footer start */
  .footer img {
    width: 70vw;
  }
  /* footer end */
}
/* Mobile devices Layout: 320px to 480px End*/

/* iPads, Tablets Layout: 481px to 768px Start*/
@media (min-width: 481px) and (max-width: 768px) {
  header {
    height: 70vh;
  }
  .navbar {
    display: none;
  }
  .btn {
    margin-top: 2rem;
    font-size: medium;
    font-size: 14px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
  .btn img {
    width: 2rem;
  }
  .intro {
    margin-top: 0;
    width: 100vw;
  }
  .intro-info {
    width: 100vw;
    padding-left: 1rem;
  }
  .intro-info h2 {
    font-size: 44px;
    color: #fff;
  }
  .intro-banner img {
    margin-top: 3rem;
    margin-left: 1rem;
    width: 40vw;
    height: 50vh;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .player-card {
    grid-column-gap: 1rem;
    width: 38vw;
  }
  .high-light {
    flex-direction: column;
  }
  .high-light img {
    width: 90vw;
  }
  .high-light-info {
    width: 90vw;
    margin-bottom: 3rem;
  }
  .high-light-btn {
    font-size: 14px;
    padding: 0.1rem 1rem;
  }
  .high-light-btn img {
    width: 2rem;
  }
}
/* iPads, Tablets Layout: 481px to 768px End*/

/* Small screens, laptops Layout: 769px to 1024px Start */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    height: 70vw;
  }
  .btn {
    font-size: 22px;
    padding: 0.1rem 1rem;
  }
  .btn img {
    width: 36px;
  }
  .nav-menu li {
    margin-right: 1rem;
  }
  .intro-info {
    margin-left: 3rem;
  }
  .intro-info h2 {
    font-size: 46px;
    color: #fff;
    line-height: 4rem;
    margin-bottom: 3rem;
  }
  .intro-banner img {
    width: 40vw;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .high-light-info {
    width: 40vw;
  }
  .high-light-banner img {
    width: 40vw;
  }
  .high-light-btn {
    font-size: 22px;
    padding: 0.1rem 1rem;
  }
  .high-light-btn img {
    width: 2rem;
  }
}
/* Small screens, laptops Layout: 769px to 1024px End */

/* Desktops, large screens: 1025px — 1200px Start*/
@media (min-width: 1025px) and (max-width: 1200px) {
  header {
    height: 90vh;
  }
 .player-card{
   width: 25vw;
 }
}
/* Desktops, large screens: 1025px — 1200px End*/
